* {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  font-family: "Montserrat", sans-serif;
  color: #373737;
}

.header {
  padding: 26px 0;
}

.header-navigation ul {
  text-align: center;
}

.header-navigation li {
  display: inline;
  margin: 0 36px;
}

.header-link {
  font-weight: 700;
  color: red;
  font-style: 18px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.banner {
  height: 789px;
  background-image: url(../img/image\ 1.jpg);
  margin-bottom: 49px;
}
.intro {
  text-align: center;
}

.intro-title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 38px;
  line-height: 27px;
}
.intro p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
}
.first-paragraph {
  margin-bottom: 28px;
}
.second-paragraph {
  margin-bottom: 68px;
}

button {
  padding: 18px 42px;
  background-color: red;
  border: 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 42px;
  cursor: pointer;
}
.footer-text {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  text-align: right;
  margin: 40px 105px 29px 0px;
}
